src/main/resources/xsd/planejamento/audesp_ppa_atualizado_2021_a.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tce.sp.gov.br/audesp/xml/planejamento" version="1.0" xml:lang="pt-BR"
	xmlns:aux="http://www.tce.sp.gov.br/audesp/xml/auxiliar" xmlns:gen="http://www.tce.sp.gov.br/audesp/xml/generico" xmlns:ppl="http://www.tce.sp.gov.br/audesp/xml/planejamento"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/generico" schemaLocation="../generico/AUDESP_TIPOSGENERICOS_2021_A.XSD"/>
	
	<xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/auxiliar" schemaLocation="../auxiliar/AUDESP_TABELASAUXILIARES_2021_A.XSD"/>
	
	<xs:include schemaLocation="./AUDESP_PECAS_PLANEJAMENTO_2021_A.XSD"/>
	
	

	<!-- Namespaces: pecasplanejamento - prefixo: ppl - Conteudo: validacao dos valores da PPA  -->
	<!-- ========================================================================= -->
	<xs:annotation>
		<xs:documentation>
			<Data>2020-12-14</Data>
			<VersaoRevisaoAnterior>2020_A</VersaoRevisaoAnterior>
			<VersaoRevisaoNova>2021_A</VersaoRevisaoNova>
			<Descricao>Base-Line para 2021</Descricao>
			<Justificativa>Modelo para início de 2021</Justificativa>
			<Autor>Sistema Audesp</Autor>
		</xs:documentation>
	</xs:annotation> 
	<!-- ======================================================================== -->
	<!-- ======================================================================== -->
	<!-- Conteudo do  PPA -->
	<xs:complexType name="PPAConteudoAtualizado_t">
		<xs:sequence>
			<xs:element  maxOccurs="unbounded" name="Legislacao" type="aux:LegislacaoMunicipal_t"/>
			<xs:element name="SumarioPPA" type="ppl:SumarioPPA_t"/>   
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ProgramaContinuado" type="ppl:ProgramaContinuado_t"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="EstimativaReceitasPPA" type="ppl:EstimativaReceitasPPA_t"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ======================================================================== -->
	<xs:complexType name="PPAAtualizado_t">
			<xs:sequence>
				<xs:element name="Descritor" type="gen:DescritorPPAAtualizacao_t"/>
				<xs:choice>
					<xs:element name="DeclaracaoNegativa" type="gen:DeclaracaoNegativa_t" />
					<xs:element name="PPAConteudoAtualizado" type="ppl:PPAConteudoAtualizado_t" /> 
				</xs:choice>
			</xs:sequence>
	</xs:complexType>
	
	<!-- ========================================================================  -->
	<!-- /root -->
	<xs:element name="PPAAtualizado"  type="ppl:PPAAtualizado_t"/>	
	<!-- ======================================================================== -->
	
</xs:schema>
